﻿@model Mvc6.Models.Employee

@{
    Layout = null;
}

@using (Html.BeginForm("AddOrEdit", "Employee", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.EmployeeID)
    <div class="form-group">
        <label>Nombre</label>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="form-group">
        <label>Puesto</label>
        @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Position)
    </div>
    <div class="form-group">
        <label>Oficina</label>
        @Html.EditorFor(model => model.Office, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        <label>Edad</label>
        @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        <label>Salario</label>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
	<div class="form-group">
        <label>Fecha</label>
		<div class="input-group">
			@Html.EditorFor(m => m.Date, new { htmlAttributes = new { @class = "form-control" } })
		</div>
	</div>
    <div class="form-group">
        <input type="submit" value="Aceptar" class="btn btn-success" style="width:auto"/>
        <input type="reset" value="Resetear" class="btn btn-warning" style="width:auto"/>
    </div>

	<script type="text/javascript">
		$(function () {
			$("#Date").datepicker({ dateFormat: "dd / mm / yy" });
		});
	</script>

}


