﻿@{
    ViewBag.Title = "Employee List";
}

<h2>Operaciones CRUD con empleados</h2>

<a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddOrEdit","Employee")')"><i class="fa fa-plus"></i> Agregar</a>
<table id="employeeTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Puesto</th>
            <th>Oficina</th>
            <th>Edad</th>
            <th>Salario</th>
			<th>Fecha</th>
            <th></th>
        </tr>
    </thead>
</table>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /> 

@section scripts{
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

    <script>
		var Popup, dataTable;

        $(document).ready(function () {

        	dataTable = $("#employeeTable").DataTable({
                "ajax": {
                    "url": "/Employee/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name" },
                    { "data": "Position" },
                    { "data": "Office" },
                    { "data": "Age" },
                    { "data": "Salary" },
					{
					    "data": "Date",
						"render": function (data) {
							if (data === null) return "";

							var pattern = /Date\(([^)]+)\)/;
							var results = pattern.exec(data);
							var dt = new Date(parseFloat(results[1]));

							return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
						}
					},
                    {
                        "data": "EmployeeID", "render": function (data) {
                            return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit","Employee")/" + data + "')><i class='fa fa-pencil'></i> Editar</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete("+data+")><i class='fa fa-trash'></i> Borrar</a>";
                        },
                        "orderable": false,
                        "width": "150px"
                    }
                ],
        	    "language": {
        	        "lengthMenu": "Mostrando _MENU_ datos por página",
        	        "info": "Mostrando _START_ a _END_ de _TOTAL_ datos",
        	        "infoEmpty": "Mostrando 0 a 0 de 0 datos",
        	        "infoFiltered": "(filtrados de _MAX_ datos totales)",
        	        "search": "Buscar:",
        	        "zeroRecords": "No se encuentran resultados para la búsqueda",
        	        "emptyTable": "No hay data cargada, por favor haga click en el botón <b>+ Agregar</b>",
        	        "paginate": {
        	            "first": "Primera",
        	            "last": "Última",
        	            "next": "Siguiente",
        	            "previous": "Anterior"
        	        },
                }
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Complete los detalles del empleado',
                    height: 500,
                    width: 700,
                    close: function(){
                        Popup.dialog('destroy').remove();
                    }
                });
            });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {

                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message,{
                                globalPosition : "top center",
                                className : "success"
                            })
                        }
                    }
                });
            }
            return false;
        }

        function Delete(id) {
            if (confirm('Está seguro que desea borrar el registro de este empleado?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Employee")/' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });

            }
        }

    </script>
}
